{% extends 'base.html.twig' %}

{% block title %}Conditions générales d'utilisation{% endblock %}

{% block body %}

<div class="container">

<h1 class="title" style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><strong><span style="color: rgb(40, 50, 78);">Politique de confidentialité de données.</span></strong></h1>
<h2 style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span style="color: rgb(40, 50, 78);"><strong><span style="font-size: 
      22px;">Introduction</span></strong>
    <br><span style="font-size: 
      18px;">Devant le développement des nouveaux outils de communication, il est nécessaire de porter une attention particulière à la protection de la vie privée. C'est pourquoi, nous nous engageons à respecter la confidentialité des renseignements personnels que nous collectons.</span></span></h2>
<hr style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
<h2 style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span style="color: rgb(40, 50, 78);"><strong><span style="font-size: 
      22px;">Collecte des renseignements personnels</span></strong></span></h2>
<p style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span style="color: rgb(40, 50, 78); font-size: 18px;">Nous collectons les renseignements suivants :</span></p>
<ul style="list-style-type: disc; color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
  <li><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Nom</span></span></li>
  <li><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Prénom</span></span></li>
  <li><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Adresse postale</span></span></li>
  <li><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Code postal</span></span></li>
  <li><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Adresse électronique</span></span></li>
  <li><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Numéro de téléphone / télécopieur</span></span></li>
  <li><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Numéro de carte de crédit</span></span></li>
  <li><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Numéro de sécurité sociale / d'assurance maladie</span></span></li>
  <li><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Genre / Sexe</span></span></li>
  <li><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Âge / Date de naissance</span></span></li>
  <li><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Origines (sociales, ethniques, etc.)</span></span></li>
  <li><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Profession</span></span></li>
  <li><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Situation familiale</span></span></li>
</ul>
<p style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span style="color: rgb(40, 50, 78); font-size: 18px;">Les renseignements personnels que nous collectons sont recueillis au travers de formulaires et grâce à l'interactivité établie entre vous et notre site Web. Nous utilisons également, comme indiqué dans la section suivante, des fichiers témoins et/ou journaux pour réunir des informations vous concernant.</span></p>
<hr style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
<h2 style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span style="color: rgb(40, 50, 78);"><strong><span style="font-size: 
      22px;">Formulaires &nbsp;et interactivité:</span></strong></span></h2>
<p style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span style="color: rgb(40, 50, 78); font-size: 18px;">Vos renseignements personnels sont collectés par le biais de formulaire, à savoir :</span></p>
<ul style="list-style-type: disc; color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
  <li><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Formulaire d'inscription au site Web</span></span></li>
</ul>
<p style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Nous utilisons les renseignements ainsi collectés pour les finalités suivantes :</span></span></p>
<ul style="list-style-type: disc; color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
  <li><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Contact</span></span></li>
  <li><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Gestion du site Web (présentation, organisation)</span></span></li>
</ul>
<p style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Vos renseignements sont également collectés par le biais de l'interactivité pouvant s'établir entre vous et notre site Web et ce, de la façon suivante:</span></span></p>
<ul style="list-style-type: disc; color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
  <li><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Contact</span></span></li>
  <li><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Gestion du site Web (présentation, organisation)</span></span></li>
</ul>
<p style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Nous utilisons les renseignements ainsi collectés pour les finalités suivantes :</span></span></p>
<ul style="list-style-type: disc; color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
  <li><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Commentaires</span></span></li>
  <li><span style="color: rgb(40, 50, 78); font-size: 18px;">Correspondance</span></li>
</ul>
<hr style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
<h2 style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span style="color: rgb(40, 50, 78);"><strong><span style="font-size: 
      22px;">Fichiers journaux et témoins</span></strong></span></h2>
<p style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span style="color: rgb(40, 50, 78); font-size: 18px;">Nous recueillons certaines informations par le biais de fichiers journaux (log file) et de fichiers témoins (cookies). Il s'agit principalement des informations suivantes :</span></p>
<p style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Le recours à de tels fichiers nous permet :</span></span></p>
<ul style="list-style-type: disc; color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
  <li><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Amélioration du service et accueil personnalisé</span></span></li>
  <li><span style="color: rgb(40, 50, 78); font-size: 18px;">Profil personnalisé de consommation</span></li>
</ul>
<hr style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
<h2 style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span style="color: rgb(40, 50, 78);"><strong><span style="font-size: 
      22px;">Droit d'opposition et de retrait</span></strong></span></h2>
<p style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span style="color: rgb(40, 50, 78); font-size: 18px;">Nous nous engageons à vous offrir un droit d'opposition et de retrait quant à vos renseignements personnels.
    <br>Le droit d'opposition s'entend comme étant la possiblité offerte aux internautes de refuser que leurs renseignements personnels soient utilisées à certaines fins mentionnées lors de la collecte.
  </span></p>
<p style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Le droit de retrait s'entend comme étant la possiblité offerte aux internautes de demander à ce que leurs renseignements personnels ne figurent plus, par exemple, dans une liste de diffusion.</span></span></p>
<p style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span style="color: rgb(40, 50, 78);"><span style="font-size: 
      18px;">Pour pouvoir exercer ces droits, vous pouvez :
      <br>Code postal : 7 ALLEE DES MONEGASQUES, MASSY 91300
      <br>Courriel : 
      <a href="mailto:bouryt@yahoo.fr" rel="nofollow" style="color: rgb(25, 106, 212); text-decoration: underline;" target="_blank">bouryt@yahoo.fr</a>
      <br>Téléphone : 0695244637
      <br>Section du site web : 
    </span>
    <a href="http://waloude.org/" rel="nofollow" style="color: rgb(25, 106, 212); text-decoration: underline;" target="_blank"><span style="font-size: 
      18px;">WALOUDE.ORG</span></a>
  </span></p>
<hr style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
<h2 style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span style="color: rgb(40, 50, 78);"><strong><span style="font-size: 
      22px;">Droit d'accès</span></strong></span></h2>
<p style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span style="color: rgb(40, 50, 78);"><span style="font-size: 
      18px;">Nous nous engageons à reconnaître un droit d'accès et de rectification aux personnes concernées désireuses de consulter, modifier, voire radier les informations les concernant.
      <br>L'exercice de ce droit se fera :
      <br>Code postal : 7 ALLEE DES MONEGASQUES, MASSY 91300
      <br>Courriel : 
      <a href="mailto:bouryt@yahoo.fr" rel="nofollow" style="color: rgb(25, 106, 212); text-decoration: underline;" target="_blank">bouryt@yahoo.fr</a>
      <br>Téléphone : 0695244637
      <br>Section du site web : 
    </span>
    <a href="http://waloude.org/" rel="nofollow" style="color: rgb(25, 106, 212); text-decoration: underline;" target="_blank"><span style="font-size: 
      18px;">WALOUDE.ORG/</span></a>
  </span></p>
<hr style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
<h2 style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span style="color: rgb(40, 50, 78);"><strong><span style="font-size: 
      22px;">Sécurité</span></strong></span></h2>
<p style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span style="color: rgb(40, 50, 78); font-size: 18px;">Les renseignements personnels que nous collectons sont conservés dans un environnement sécurisé. Les personnes travaillant pour nous sont tenues de respecter la confidentialité de vos informations.
    <br>Pour assurer la sécurité de vos renseignements personnels, nous avons recours aux mesures suivantes :
  </span></p>
<ul style="list-style-type: disc; color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
  <li><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Protocole SSL (Secure Sockets Layer)</span></span></li>
  <li><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Protocole SET (Secure Electronic Transaction)</span></span></li>
  <li><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Gestion des accès - personne autorisée</span></span></li>
  <li><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Gestion des accès - personne concernée</span></span></li>
  <li><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Logiciel de surveillance du réseau</span></span></li>
  <li><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Sauvegarde informatique</span></span></li>
  <li><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Développement de certificat numérique</span></span></li>
  <li><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Identifiant / mot de passe</span></span></li>
  <li><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">Pare-feu (Firewalls)</span></span></li>
</ul>
<p style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span style="color: rgb(40, 50, 78); font-size: 18px;">Nous nous engageons à maintenir un haut degré de confidentialité en intégrant les dernières innovations technologiques permettant d'assurer la confidentialité de vos transactions. Toutefois, comme aucun mécanisme n'offre une sécurité maximale, une part de risque est toujours présente lorsque l'on utilise Internet pour transmettre des renseignements personnels.</span></p>
<hr style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
<h2 style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span style="color: rgb(40, 50, 78);"><strong><span style="font-size: 
      22px;">Label</span></strong></span></h2>
<p style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span style="color: rgb(40, 50, 78); font-size: 18px;">Nos engagements en matière de protection des renseignements personnels répondent aux exigences du programme suivant :</span></p>
<ul style="list-style-type: disc; color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
  <li><span style="font-size: 
      18px;"><span style="color: rgb(40, 50, 78);">WebTrust</span></span></li>
  <li><span style="color: rgb(40, 50, 78); font-size: 18px;">VeriSign</span></li>
</ul>
<hr style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
<h2 style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span style="color: rgb(40, 50, 78);"><strong><span style="font-size: 
      22px;">Législation</span></strong></span></h2>
<p style="color: rgb(29, 34, 40); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span style="color: rgb(40, 50, 78); font-size: 18px;">Nous nous engageons à respecter les dispositions législatives énoncées dans :
    <br>FRANCE
  </span></p>
<p>
  <br>
</p>

</div>

{% endblock %}
{#     <h1>Pages</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ page.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ page.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ page.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pages_index') }}">back to list</a>

    <a href="{{ path('pages_edit', {'id': page.id}) }}">edit</a>

    {{ include('pages/_delete_form.html.twig') }} #}

