{% extends 'base.html.twig' %}

{% block title %}Souscrire au contrat Waloude{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{ asset('./fichiers/bulma.min.css') }}" />
<link rel="stylesheet" href="{{ asset('./fichiers/bulma-steps.min.css') }}">

<script>
//Ajout d'un bénéficiaires
function addBeneficiaires(collectionHolder)
{
    let prototype = collectionHolder.attr("data-prototype");
    let index = collectionHolder.data("index");

    let newForm = prototype.replace(/_name_/g, index+1);
    collectionHolder.append(newForm);
}


function removeBeneficiaire(elt){
    //$("#main-content #bt_calculer_montant").click();
    let formParent = $(elt).closest("form");
    let collectionHolder = formParent.find("#block_beneficiaires");
    let index = collectionHolder.data("index");
    collectionHolder.data("index", index-1);
    $(elt).closest("tr").remove();
    //expeditionIntexCalculerMontant(formParent, formParent.attr("type-client"));
}

//Ajout d'un enfant
function addEnfants(collectionHolder)
{
//let block_colis = $("#block_colis");
    let prototype = collectionHolder.attr("data-prototype");
    let index = collectionHolder.data("index");

    let newForm = prototype.replace(/__name__/g, index+1);
    /*let newColisElt = colisFormElt.replace(/__nb__/g, index+1);
    newColisElt = newColisElt.replace(/__formContent__/g, newForm);*/
    collectionHolder.append(newForm);
    //collectionHolder.find(".onlyNumbers").onlyNumbers();
    /*collectionHolder.find(".onlyNumbers").numeric({
        allowMinus   : false,
    });
    collectionHolder.find(".btn_colis_remove").off("click");
    collectionHolder.find(".btn_colis_remove").on("click", function(){
        removeColisForm($(this));
    });
    collectionHolder.data("index", index+1);
    formTabIndexInit();*/
}


function removeEnfant(elt){
    //$("#main-content #bt_calculer_montant").click();
    let formParent = $(elt).closest("form");
    let collectionHolder = formParent.find("#block_enfants");
    let index = collectionHolder.data("index");
    collectionHolder.data("index", index-1);
    $(elt).closest("tr").remove();
    //expeditionIntexCalculerMontant(formParent, formParent.attr("type-client"));
}

// Ajout du conjoint
function addConjoint(collectionHolder)
{
//let block_colis = $("#block_colis");
    let prototype = collectionHolder.attr("data-prototype");
    let index = collectionHolder.data("index");

    let newForm = prototype.replace(/__name__/g, index+1);

    collectionHolder.append(newForm);
}

function afficherAdresse(id) {
    var x = document.getElementById(id);
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}

      function removeConjoint(elt){
    //$("#main-content #bt_calculer_montant").click();
    let formParent = $(elt).closest("form");
    let collectionHolder = formParent.find("souscripteur[situation_familiale]");
    let index = collectionHolder.data("index");
    collectionHolder.data("index", index-1);
    $(elt).closest("tr").remove();
    //expeditionIntexCalculerMontant(formParent, formParent.attr("type-client"));
}

      $(document).ready(function(){
           // alert("test");
            /*$(document).on("change", "#souscripteur_nombre_enfants", function(){
                  alert("nombre enfants = "+$(this).val());
            });*/
             $("#souscripteur_nombre_enfants").on("change", function(){
                  //alert("nombre enfants = "+$(this).val());
                  let nombre_enfants = $(this).val();
                  let collectionHolder = $("#block_enfants");

                  //Suppression des anciens enfants
                  collectionHolder.empty();
                  collectionHolder.data("index", 0);

                  //Ajout des nouveaux enfants
                  for(i=0;i<nombre_enfants;i++){
                        addEnfants(collectionHolder);
                  }
            });

            $("#souscripteur_nombre_beneficiaires").on("change", function(){
                  //alert("nombre enfants = "+$(this).val());
                  let nombre_beneficiaires = $(this).val();
                  let collectionHolder = $("#block_beneficiaires");

                  //Suppression des anciens enfants
                  collectionHolder.empty();
                  collectionHolder.data("index", 0);

                  //Ajout des nouveaux enfants
                  for(i=0;i<nombre_beneficiaires;i++){
                        addBeneficiaires(collectionHolder);
                  }
            });

            $("*input[name='souscripteur[situation_familiale]']").on("change", function(){

                  let conjoint = $(this).val();
                  console.log(conjoint);
                  let collectionHolder = $("#block_conjoint");


                  //Suppression des ancienne situation
                  collectionHolder.empty();
                  collectionHolder.data("index", 0);

                  //Ajout de conjoint ou pas 
                  //if(conjoint=="Marié(e)" || conjoint =="Pacsé(e)" || conjoint =="Concubin(e)" ){
                  if(conjoint=="marie" || conjoint =="pasce" || conjoint =="concubin" ){
                        addConjoint(collectionHolder);
                  }
                  else
                        console.log("Pas de conjoint");
            });
      });

</script>





<div class="section-form">
   <div class="container">
	<div class="columns is-vbottom">
          <div class="column is-three-fifths is-offset-one-fifth column-form">
              <div class="form_body">
			


<h1 style="font-size:29px;color:#5271ff;font-weight: 700;line-height:1em; margin-bottom: 20px;">
                        Souscrire à l'assurance
</h1>

{{ form_start(form, {'id':'formSouscripteur'}) }}
{# <script src="./steps/jquery-validate-min.js"></script> #}
<script>bulmaSteps.attach();</script>	
<link rel="stylesheet" href="{{ asset('./fichiers/bulma-steps.min.css') }}">

<div class="steps" id="stepsDemo">
{% include 'souscripteur/steps.html.twig' %}

<div class="steps-content">

{# Etape 1 #}

<div class="step-content has-text-centered is-active">
<div class="box" style="color:red">
Parcourez le formulaire en cliquant sur "Continuer" pour identifier tous les documents et informations nécéssaires à la validation du contrat.
</div>

{% include 'souscripteur/stepsElements/civilite.html.twig' %}

{% include 'souscripteur/stepsElements/nomPrenom.html.twig' %}

{% include 'souscripteur/stepsElements/paysNaissance.html.twig' %}

{% include 'souscripteur/stepsElements/paysResidence.html.twig' %}

{# {% include 'souscripteur/stepsElements/profession.html.twig' %} #}
  
{% include 'souscripteur/stepsElements/adresse.html.twig' %}

{% include 'souscripteur/stepsElements/telephone.html.twig' %}
<div style="text-align:center">Pour valider le formulaire, tous les champs marqués par<span style="color:red"> *<span> doivent être remplis
</div>
</div>

{# Etape 2 #}
<div class="step-content has-text-centered">
{% include 'souscripteur/stepsElements/enfants.html.twig' %}
</div>  

{# Etape 3 #}
<div class="step-content has-text-centered">
{% include 'souscripteur/stepsElements/beneficiaires.html.twig' %}
</div>

{# Etape 4 #}
<div class="step-content has-text-centered">
{% include 'souscripteur/stepsElements/famille.html.twig' %}
</div>

{# Etape 5 #}
<div class="step-content has-text-centered">
{% include 'souscripteur/stepsElements/documents.html.twig' %}
<div style="text-align:center">Pour valider le formulaire, tous les champs marqués par<span style="color:red"> *</span> doivent être remplis
</div>
</div>

{# Etape 6 #}
<div class="step-content has-text-centered">
{% include 'souscripteur/stepsElements/cotisation.html.twig' %}
<button class="button " style="background:#5271ff;" type="submit">
      <span class="text">Je valide mon contrat</span>
      <span class="icon is-small"><i class="fas fa-arrow-right"></i></span>
      </button>
<div style="text-align:center">Pour valider le formulaire, tous les champs marqués par<span style="color:red"> *</span> doivent être remplis
</div>
</div>

</div>


  <div class="steps-actions">
    <div class="steps-action">
      <a href="#" data-nav="previous" class="button is-medium is-light">Retour</a>
    </div>
    <div class="steps-action">
      <a href="#" data-nav="next" class="button is-medium is-link">Continuer</a>
    </div>
  </div>

</div>

{# <script src="{{ asset('./fichiers/steps/jquery.validate.js') }}"></script> #}

{{ form_end(form) }}
  </div>
  </div>
  </div>
  </div>
  </div>
<script src="{{ asset('./fichiers/bulma-steps.min.js') }}"></script>
<script>bulmaSteps.attach();</script>	
{% endblock %}


