<page backtop="0mm" backright="10mm" backbottom="20mm" backleft="10mm">
<table>
      <tr>
   <td>Référence du contrat</td>
   <td>{{ souscripteur.reference }}</td>
   </tr>
   <tr>
   <td>Civilité</td>
   <td>{{ souscripteur.civilite }}</td>
   </tr>
   <tr>
   <td>Nom</td>
   <td>{{ souscripteur.nom }}</td>
   </tr>
   <tr>
   <td>Prénom</td>
   <td>{{ souscripteur.prenom }}</td>
   </tr>
   <tr>
   <td>Nom de jeune fille</td>
   <td>{{ souscripteur.nom_jeune_fille }}</td>
   </tr>
   <tr>
   <td>Date de naissance</td>
   <td>{{ souscripteur.date_naissance }}</td>
   </tr>
   <tr>
   <td>Pays de naissance</td>
   <td>{{ souscripteur.pays_naissance }}</td>
   </tr>
   <tr>
   <td>Pays de résidence</td>
   <td>{{ souscripteur.pays_residence }}</td>
   </tr>
   <tr>
   <td>Ville de résidence</td>
   <td>{{ souscripteur.ville_residence }}</td>
   </tr>
   <tr>
   <td>Adresse Complète</td>
   <td>
   {{ souscripteur.adresse }} <br/>
   {{ souscripteur.code_postal }} <br/>
   {{ souscripteur.ville }}
   </td>
   </tr>
   <tr>
   <td>Téléphone</td>
   <td>{{ souscripteur.telephone }}</td>
   </tr>
   <tr>
   <td>Téléphone fixe</td>
   <td>{{ souscripteur.tel_domicile }}</td>
   </tr>
   <tr>
   <td>Vos enfants</td>
   <td></td>
   </tr>
   <tr>
   <td>Votre bénéficiaire</td>
   <td></td>
   </tr>
   <tr>
   <td>Situation familiale</td>
   <td></td>
   </tr>
   <tr>
   <td>Pièces justificatives</td>
   <td></td>
   </tr>
</table>
</page>