{% extends 'base.html.twig' %}

{% block title %}Beneficiaire{% endblock %}

{% block body %}
    <h1>Beneficiaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ beneficiaire.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ beneficiaire.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ beneficiaire.prenom }}</td>
            </tr>
            <tr>
                <th>Date_naissance</th>
                <td>{{ beneficiaire.dateNaissance ? beneficiaire.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Pays_naissance</th>
                <td>{{ beneficiaire.paysNaissance }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ beneficiaire.telephone }}</td>
            </tr>
            <tr>
                <th>Tel_domicile</th>
                <td>{{ beneficiaire.telDomicile }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ beneficiaire.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('beneficiaire_index') }}">back to list</a>

    <a href="{{ path('beneficiaire_edit', {'id': beneficiaire.id}) }}">edit</a>

    {{ include('beneficiaire/_delete_form.html.twig') }}
{% endblock %}
