{% extends 'base.html.twig' %}

{% block title %}Contrat index{% endblock %}

{% block body %}
    <h1>Contrat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nbre_enfants</th>
                <th>Nom_enfant</th>
                <th>Prenom_enfant</th>
                <th>Date_naissance_enfant</th>
                <th>Lien_affiliation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contrat in contrats %}
            <tr>
                <td>{{ contrat.id }}</td>
                <td>{{ contrat.nbreEnfants }}</td>
                <td>{{ contrat.nomEnfant }}</td>
                <td>{{ contrat.prenomEnfant }}</td>
                <td>{{ contrat.dateNaissanceEnfant ? contrat.dateNaissanceEnfant|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ contrat.lienAffiliation }}</td>
                <td>
                    <a href="{{ path('contrat_show', {'id': contrat.id}) }}">show</a>
                    <a href="{{ path('contrat_edit', {'id': contrat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('contrat_new') }}">Create new</a>
{% endblock %}
